html {
    scroll-behavior: smooth;
}

body {
    font-family: museo;
    margin: 0;
    line-height: 1.5em;
    background-color: #ffffff;
    font-weight: 500;
}

main {
    overflow: auto;
}

a {
    text-decoration: none;
    font-weight: 700;
    color: #BE1E2D;
}

a:hover {
    color: #00bff3;
}

h1, h2, h3, h4, h5, h6 {
    text-transform: uppercase;
    line-height: 1em;
    font-weight: 900;
}

.bg-dark {
    background-color: #BE1E2D!important;
}

.starter-template {
    padding: 3rem 1.5rem;
    text-align: center;
  }

.container {
    padding: 1rem 3rem 1rem 3rem;
}

#colpaddingEX {
    padding-left: 2em;
    padding-right: 2em;
}

#colHyphens {
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
}

#nameColour {
    color: #BE1E2D;
}

#contPadUP {
    padding-top: 2rem;
}

#contPadDOWN {
    padding-bottom: 2rem;
}


/*
================================
    FOOTER
================================
*/

    footer {
        background-color: #BE1E2D;
        text-align: center;
        position: absolute;
        width: 100%;
    }

    .py-3 {
        padding: 2rem 1rem 2rem 1rem!important;
    }

    .text-footer {
        color: #ffffff;
    }

    .text-muted {
        color: #dee2e6!important;
    }



/*
================================
    NAVBAR
================================
*/

    .navbar {
        padding: 1em 2.5em 1em 2.5em;
        margin-bottom: 0;
    }

    .navbar-brand {
        font-weight: 700;
    }

    .nav-item {
        font-weight: 700;
    }


/*
================================
    CAROUSEL
================================
*/

    .carousel-inner>.item>img, .carousel-inner>.item>a>img {
        display: block;
        height: auto;
        max-width: 100%;
        line-height: 1;
        width: 100%;
    }

    #carouselText {
        font-size: 300%;
        text-transform: uppercase;
    }

    #carouselText_Padding {
        padding-bottom: 10px;
        bottom: 10px;
    }



/*
================================
    LIVE UPDATE TABLE
================================
*/

    th {
        color: #000000;
        text-align: center;
        border-bottom: 1pt solid #bcbec0;
    }

    .table th{
        vertical-align: middle;
    }


    thead th {
        color: #ffffff;
        background-color: #BE1E2D;
        border-bottom: hidden;
    }

    thead tr {
        border-bottom: hidden;
    }


    td {
        border-bottom: 1pt solid #bcbec0;
    }

    .nickname {
        padding-right: 30px;
    }

    .tableName {
        display: table;
        margin: auto;
        width: 100%;
    }



/*
================================
    BUTTONS
================================
*/

    .btn-register {
        background-color: #BE1E2D;
        color: #FFFFFF;
        font-weight: 700;
        padding: 1rem 3rem 1rem 3rem;
    }

    .btn-register:hover {
        background-color: rgb(153, 26, 38);
        color: #FFFFFF;
    }



/*
================================
    MASCOTS ANCHOR
================================
*/

    #mascotTea a, a:hover {
        color: #BFD730;
        text-decoration: none;
    }

    #mascotMi a, a:hover {
        color: #00BFF3;
        text-decoration: none;
    }

    #mascotYinYong a, a:hover {
        color: #B41E8E;
        text-decoration: none;
    }

    #mascotMichael a, a:hover {
        color: #FAA61A;
        text-decoration: none;
    }

    #mascotCoffy a, a:hover {
        color: #BE1E2D;
        text-decoration: none;
    }



/*
================================
    TYPEKIT EMBED
================================
*/

    @font-face{font-family:museo;src:url(https://use.typekit.net/af/0e7386/000000000000000000011b26/27/l?subset_id=2&fvd=n5&v=3) format("woff2"),url(https://use.typekit.net/af/0e7386/000000000000000000011b26/27/d?subset_id=2&fvd=n5&v=3) format("woff"),url(https://use.typekit.net/af/0e7386/000000000000000000011b26/27/a?subset_id=2&fvd=n5&v=3) format("opentype");font-weight:500;font-style:normal;}
        
    @font-face{font-family:museo;src:url(https://use.typekit.net/af/8a79e7/000000000000000000011b24/27/l?subset_id=2&fvd=n7&v=3) format("woff2"),url(https://use.typekit.net/af/8a79e7/000000000000000000011b24/27/d?subset_id=2&fvd=n7&v=3) format("woff"),url(https://use.typekit.net/af/8a79e7/000000000000000000011b24/27/a?subset_id=2&fvd=n7&v=3) format("opentype");font-weight:700;font-style:normal;}

    @font-face{font-family:museo;src:url(https://use.typekit.net/af/02218c/000000000000000000011b27/27/l?subset_id=2&fvd=n9&v=3) format("woff2"),url(https://use.typekit.net/af/02218c/000000000000000000011b27/27/d?subset_id=2&fvd=n9&v=3) format("woff"),url(https://use.typekit.net/af/02218c/000000000000000000011b27/27/a?subset_id=2&fvd=n9&v=3) format("opentype");font-weight:900;font-style:normal;}

    @font-face{font-family:museo;src:url(https://use.typekit.net/af/3a47c8/00000000000000000000ebe5/27/l?subset_id=2&fvd=i5&v=3) format("woff2"),url(https://use.typekit.net/af/3a47c8/00000000000000000000ebe5/27/d?subset_id=2&fvd=i5&v=3) format("woff"),url(https://use.typekit.net/af/3a47c8/00000000000000000000ebe5/27/a?subset_id=2&fvd=i5&v=3) format("opentype");font-weight:500;font-style:italic;}

    @font-face{font-family:museo;src:url(https://use.typekit.net/af/beaa6e/00000000000000000000ebe6/27/l?subset_id=2&fvd=i7&v=3) format("woff2"),url(https://use.typekit.net/af/beaa6e/00000000000000000000ebe6/27/d?subset_id=2&fvd=i7&v=3) format("woff"),url(https://use.typekit.net/af/beaa6e/00000000000000000000ebe6/27/a?subset_id=2&fvd=i7&v=3) format("opentype");font-weight:700;font-style:italic;}